.footerContainer {
  position: relative;
  background-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(360deg, #1c6db6 0%, #20a795 100%);
  overflow: hidden;
  padding-bottom: 0;
}

.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/banner-bg-lines.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.62;
  pointer-events: none;
}
