.heroContainer {
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(163deg, #1c6db6 0%, #20a795 86%);
  overflow: hidden;
  z-index: 1;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/banner-bg-lines.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.3;
  pointer-events: none;
}
